<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue: Download Images</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="libs/vue-easy-lightbox/vue-easy-lightbox.umd.min.js"></script>

</head>
<style>
	.thumb { margin: 3px; display: inline-block; }
	.thumb img { height: 120px; border: 1px solid white; }
	.thumb.selected img { border: 1px solid red; }
	#sURL { width: calc(100% - 200px); }
	textarea { width: 0px; height: 0px; }
</style>
<body>
	<div id='vueapp' class="m-0">
		<nav class="navbar fixed-top p-0">
			<div class="w-100 d-flex bg-light p-2">
				<div class="form-inline">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend"><span class="input-group-text" id="inputGroupPrepend">URL</span></div>
						<input type="text" class="form-control" name="sURL" id="sURL" v-model="sURL" v-on:keyup.enter="downloadImage" autocomplete="off">
						<div class="invalid-feedback">URL</div>
						<div class="input-group-append">
							<input type="button" class="btn btn-primary" @click="downloadImage()" v-model="btnAdd">
						</div>
					</div>
				</div>
				<div class="ml-auto text-right" v-bind:style="{ display: btnGroup }">
					<div class="btn-group btn-group-sm">
						<input type="button" class="btn btn-secondary" @click="copyToClipboard('#bbCode')" value="BBCODE">
						<input type="button" class="btn btn-primary" @click="() => showImg(0)" value="VIEW">
					</div>
				</div>
			</div>
		</nav>
		<div class="container-fluid mt-4 pt-4">
			<div class="row p-2">
				<div class="col">
					<div class="thumb" v-for='image in images' v-bind:class="{ selected: image.state }">
						<img class="" :src="'./files/thumbs/'+ image.src" :key="image.src" @click="selectImage(image)">
					</div>
				</div>
			</div>
		</div>
		<textarea id="bbCode" v-model="bbCode"></textarea>
		<vue-easy-lightbox
			:visible="visible"
			:imgs="imgs"
			@hide="handleHide"
		></vue-easy-lightbox>
	</div>
</body>
<script>
	var app = new Vue({
		el: '#vueapp',
		data: {
			sURL:'', 
			images:[], 
			bbCode:"", 
			btnAdd:"Download", 
			btnGroup: "none",
			imgs:[], 
			visible: false},
		mounted: function () {
			this.getImages();
		},
		methods: {
			getImages: function(){
				axios.get('api.php')
				.then(function (response) {
					let rData = response.data;
					let tData = [];
					rData.forEach(function(value, key){
						tData[key] = {'src': value,'state': false};
        			});
					app.images = tData;
				})
				.catch(function (error) {
					console.log(error);
				});
			},
			downloadImage: function(){
				if (this.sURL == "") { return false; }
				app.btnAdd = "Loading...";
				let formData = new FormData();
        		formData.append('mode', "SAVE");
				formData.append('url', this.sURL);

				axios({
					method: 'post',
					url: 'api.php',
					data: formData,
					config: { headers: {'Content-Type': 'multipart/form-data' }}
				})
				.then(function (response) {
					//handle success
					//app.images.push(response.data[0]);
					app.images.unshift({'src': response.data[0],'state': false});
					app.resetForm();
					app.btnAdd = "Download";
				})
				.catch(function (response) {
					//handle error
					console.log(response);
					app.btnAdd = "Download";
				});
			},
			resetForm: function(){
				this.sURL = '';
			},
			selectImage: function(image){
				if (image.state === false) {
					image.state = true;
				} else {
					image.state = false;
				}

				app.bbCode = "";
				app.imgs = [];
				app.images.forEach(function(value, key){
					if (value.state === true) {
						app.bbCode	+= "[URL]"+ value.src +"[/URL]\n";
						app.imgs.push("./files/"+ value.src);
					}
				});

				if (app.imgs.length > 0) {
					app.btnGroup = "";
				} else {
					app.btnGroup = "none";
				}

				//app.copyToClipboard('#bbCode');
			},
			copyToClipboard: function(src) {
				// Copy to clipboard...
				let testingCodeToCopy = document.querySelector(src);
				testingCodeToCopy.setAttribute('type', 'text');
				testingCodeToCopy.select();
				
				try {
					var successful = document.execCommand('copy');
					var msg = successful ? 'successful' : 'unsuccessful';
					console.log('Testing code was copied ' + msg);
				} catch (err) {
					console.log('Oops, unable to copy');
				}

				/* unselect the range */
				//testingCodeToCopy.setAttribute('type', 'hidden');
				window.getSelection().removeAllRanges();
			}
			,showImg (index) {
				console.log("here?");
				this.index = index
				this.visible = true
			},
			handleHide () {
				this.visible = false
			}
		}
	});
</script>
<script>
		var app1 = new Vue({
		  el: '#apppp',
		  data: {
			visible: false,
			imgs: [
			  'https://via.placeholder.com/450.png/',
			  'https://via.placeholder.com/300.png/',
			  'https://via.placeholder.com/150.png/'
			]
		  },
		  methods: {
			showImg (index) {
			  this.index = index
			  this.visible = true
			},
			handleHide () {
			  this.visible = false
			}
		  }
		})
	  </script>
</html>